<h2>AH AH AH, YOU AREN'T AUTHORIZED TO DO THAT.</h2> 
<fieldset>
<div class="center">
    <img src="/images/401_dice.png" alt="D401" style="width:200px;height:200px;float:center;">
    <img src="/images/jurassic.gif" alt="error">
    <img src="/images/401_dice.png" alt="D401" style="width:200px;height:200px;float:center;">
</div>
<hr>
<br>
    <form method="GET" action="/login">
    <input type="submit" value="LOG IN"> 
    <b>YOU MUST BE LOGGED IN AS THE OWNER OF THIS CHARACTER TO MAKE CHANGES</b>    
</fieldset>