
<h1>Characters</h1>
#make name into link to show page
 <% @characters.each do |character| %>
  <div class="character">
    <h3>Name: <%= character.character_name %></h3>
    <h4>Class: <%= character.character_class %></h4>
    <h4>Level: <%= character.character_level %></h4>
    <h4>Race: <%= character.character_race %></h4>
    <hr>
  </div><br>
<% end %>