<br>
<h2>CHARACTER SHEET:</h2>

<fieldset>
<legend><b>BASIC INFO:</b></legend><b>
<form method="POST" action="/character/new">
    <label>Name:</label>
      <input type="text" name="character[character_name]"><br><br>
      <label>LvL:</label>
      <input type="number" name="character[character_level]" ><br><br>
    <label>Class:</label>
    <select name="character[character_class]">
      <option value="Barbarian">Barbarian</option>
      <option value="Bard">Bard</option>
      <option value="Cleric">Cleric</option>
      <option value="Druid">Druid</option>
      <option value="Fighter">Fighter</option>
      <option value="Monk">Monk</option>
      <option value="Paladin">Paladin</option>
      <option value="Ranger">Ranger</option>
      <option value="Rogue">Rogue</option>
      <option value="Sorcerer">Sorcerer</option>
      <option value="Warlock">Warlock</option>
      <option value="Wizard">Wizard</option>
      <option value="Artificer">Artificer</option>
    </select><br><br>
    <label>Race:</label>
    <select name="character[character_race]">
      <option value="Dragonborn">Dragonborn</option>
      <option value="Dwarf">Dwarf</option>
      <option value="Elf">Elf</option>
      <option value="Gnome">Gnome</option>
      <option value="Half-Elf">Half-Elf</option>
      <option value="Halfling">Halfling</option>
      <option value="Half-Orc">Half-Orc</option>
      <option value="Human">Human</option>
      <option value="Tiefling">Tiefling</option>
      <option value="Orc of Exandria">Orc of Exandria</option>
      <option value="Leonin">Leonin</option>
      <option value="Satyr">Satyr</option>
      <option value="Genasi">Genasi</option>
      <option value="Goliath">Goliath</option>
      <option value="Aasimar">Aasimar</option>
      <option value="Bugbear">Bugbear</option>
      <option value="Firbolg">Firbolg</option>
      <option value="Goblin">Goblin</option>
      <option value="Hobgoblin">Hobgoblin</option>
      <option value="Kenku">Kenku</option>
      <option value="Kobold">Kobold</option>
      <option value="Lizardfolk">Lizardfolk</option>
      <option value="Orc">Orc</option>
      <option value="Tabaxi">Tabaxi</option>
      <option value="Triton">Triton</option>
      <option value="Yuan-ti Pureblood">Yuan-ti Pureblood</option>
      <option value="Feral Tiefling">Feral Tiefling</option>
      <option value="Tortle">Tortle</option>
      <option value="Changeling">Changeling</option>
      <option value="Kalashtar">Kalashtar</option>
      <option value="Orc of Eberron">Orc of Eberron</option>
      <option value="Shifter">Shifter</option>
      <option value="Warforged">Warforged</option>
      <option value="Gith">Gith</option>
      <option value="Centaur">Centaur</option>
      <option value="Loxodon">Loxodon</option>
      <option value="Minotaur">Minotaur</option>
      <option value="Simic hybrid">Simic Hybrid</option>
      <option value="Vedalken">Vedalken</option>
      <option value="Verdan">Verdan</option>
      <option value="Locathah">Locathah</option>
      <option value="Grung">Grung</option>
    </select><br><br>
    <label>Armor Class:</label>
    <select type="number" name="character[armor_class]">
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
    </select><br><br>
    <label>Speed:</label>
    <select type="number" name="character[character_speed]">
      <option value="5">5ft</option>
      <option value="10">10ft</option>
      <option value="15">15ft</option>
      <option value="20">20ft</option>
      <option value="25">25ft</option>
      <option value="30">30ft</option>
      <option value="35">35ft</option>
      <option value="40">40ft</option>
      <option value="45">45ft</option>
      <option value="50">50ft</option>
    </select><br>
    </fieldset><br>
    
    <fieldset>
    <legend>ABILITIES:</legend><br>
    <label>Strength: +</label>
    <select type="number" name="character[character_strength]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    <label>Dexterity: +</label>
    <select type="number" name="character[character_dexterity]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    <label>Constitution: +</label>
    <select type="number" name="character[character_constitution]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    <label>Intelligence: +</label>
    <select type="number" name="character[character_intelligence]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    <label>Wisdom: +</label>
    <select type="number" name="character[character_wisdom]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    <label>Charisma: +</label>
    <select type="number" name="character[character_charisma]">
      <option value="1"> 1 / (12)</option>
      <option value="2"> 2 / (14)</option>
      <option value="3"> 3 / (16)</option>
      <option value="4"> 4 / (18)</option>
      <option value="5"> 5 / (20)</option>
      <option value="6"> 6 / (22)</option>
    </select><br><br>
    </fieldset><br>
    
    <fieldset><br>
    <legend>PROFICIENCIES:</legend>
    <label>Weapon Proficiencies:</label>
    <select name="character[weapon_proficiencies]">
      <option value="Simple Weapons">Simple Weapons</option>
      <option value="Martial Weapons">Martial Weapons</option>
      <option value="Exotic Weapons">Exotic Weapons</option>
    </select><br><br>
    <label>Armor Proficiencies</label>
    <select name="character[armor_proficiencies]">
      <option value="Light Armor">Light Armor</option>
      <option value="Medium Armor">Medium Armor</option>
      <option value="Heavy Armor">Heavy Armor</option>
    </select><br><br>
    </fieldset><br>

    <fieldset>
    <legend>LANGUAGES:</legend>
    <select name=character[languages]>
      <option value="Common">Common</option>
      <option value="Dwarvish">Dwarvish</option>
      <option value="Elvish">Elvish</option>
      <option value="Gnomish">Gnomish</option>
      <option value="Goblin">Goblin</option>
      <option value="Halfling">Halfling</option>
      <option value="Orc">Orc</option><br/>
    </select>
    </fieldset>
    </b><br><br>

 <h2>ASSOCIATE AN EXISTING PLAYER(S):</h2>
  <fieldset>
  <% @players.each do |player| %>
    <input type="checkbox" name="character[player_id]" id="<%= player.id %>" value="<%= player.id %>"><%= player.name %><br>
  <% end %>
  </fieldset>
  <br>

    <input type="submit" value="Create Character">
  </form>
