<h2>Players</h2>

<% @players.each do |player| %>
  <p><strong>Name:</strong> <%=player.name %></p>
  <p><strong>Username:</strong> <%=player.username %></p>
  <p><strong>Email:</strong><%=player.email %></p>
  <hr>
<%end%>
