<h1>Players List:</h1>
<hr>
<br>

<% @players.each do |player| %>
<fieldset>
  <legend><h3>Name: <a href="/players/<%=player.id%>"><%= player.name %></a></h3></legend>
  <h3><strong>Username:</strong> <%=player.username %></h3>
  <h3><strong>Email:</strong><%=player.email %></h3>
  <br>
  </fieldset>
  <br>
<%end%>

