<h1>Players</h1>

 <% @players.each do |player| %>
  <div class="player">
    <h3>Name: <%= player.name %></h3>
    <h4>Username: <%= player.username %></h3>
    <h4>Email: <%= player.email %></h3>
  </div><br>
<% end %>