<h1>Create a Player</h1>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" id="username" name="player[username]">
  <label>Email:</label>
  <input type="email" id="email" name="player[email]">
  <label>Password:</label>
  <input type="password" id="password" name="player[password]">
  <label>Name:</label>
  <input type="text" id="pname" name="player[name]">
  <label>Age:</label>
  <input type="number" id="age" name="player[age]">
  <label>Birthdate:</label>
  <input type="date" id="birthdate" name="player[birthdate]">

  <br>
  <p>Select an existing Character or create a new one below.</p>


  <h3>Existing Characters</h3>
  <% @characters.each do |pet| %>
    <input type="checkbox" name="player[character_ids][]" id="<%= character.id %>" value="<%= character.id %>"><%= character.character_name %><br>
  <% end %>
  <br>

  <input type="submit" value="Create Player">
</form>
