<br>
<h2>Create a Player:</h2>
<fieldset>
<% if @errors %>
  <% @errors.each do |e| %>
    <%= e%><br>
  <%end%>
<%end%>
<form method="post" action="/signup">
  <b><label>Username:</label>
  <input type="text" id="username" name="player[username]"><br>
  <label>Email:</label>
  <input type="email" id="email" name="player[email]"><br>
  <label>Password:</label>
  <input type="password" id="password" name="player[password]"><br>
  <label>Name:</label>
  <input type="text" id="pname" name="player[name]"><br>
  <label>Age:</label>
  <input type="number" id="age" name="player[age]"><br>
  <label>Birthdate:</label>
  <input type="date" id="birthdate" name="player[birthdate]"></b>
</fieldset>
  <br>
  <h3>Select an existing Character or create a new one below.</h3>


  <h2>Existing Characters:</h2>
  <fieldset>
  <% @characters.each do |character| %>
  <% if !!character.player_id == true %>
    
  <% else %>
    <input type="checkbox" name="player[character_ids][]" id="<%= character.id %>" value="<%= character.id %>"><%= character.character_name %><br>
  <% end %>
  <%end%>
  </fieldset>
  <br>

  <input type="submit" value="Create Player">
</form>
