<h1><%= "Welcome to the D&D character manager<h1>" %></h1>
<form method="post" action="/login">
<h2><%= "SIGN-IN / SIGN-UP " %></h2>
  <fieldset>
  <br>
  <label><b>Username:</b></label>
  <input type="text" id="username" name="player[username]"><br>
  <b>OR</b><br>
  <label><b>Email:</b></label>
  <input type="email" id="email" name="player[email]"><br>
  <label><b>Password:</b></label>
  <input type="password" id="password" name="player[password]"><br>
  <input type="submit" value="Sign In">
</form><br>

<form method="Get" action="/signup">
  <input type="submit" value="Sign up"><b> as a new Player</b>
</form>
<br>
</fieldset>
<br>
<h2><%= "OR" %></h2>
<fieldset>
<br>
<form method="Get" action="/character">
  <input type="submit" value="See Character List">
</form>
<br>
<form method="GET" action="/players">
    <input type="submit" value="See Players List">
</form>
<br>
<form method="GET" action="/character/new">
    <input type="submit" value="Create a New Character">
</form>
<br>
</fieldset>
